/* font colors

section /dark blue    rgb(5,5,134)
tablePart  lt_green    rgb(19, 192, 42)
tableContrast Blue rgb(6, 95, 168);
light grey rgb(); */

/*basic reset*/
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

/* pt font classification here in body*/
body {
  font-family: 'Metrophobic', sans-serif;
  width: 400px;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-around;
  height: 60px;
  background-color: rgb(6, 95, 168);
  color: #FFF;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  border-left: .5px solid rgb(195, 194, 194);
  border-right: .5px solid rgb(195, 194, 194);
}

.btn_left {
  clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  border-radius: 6px;
  width: 50px;
  height: 25px;
  background-color: rgb(6, 95, 168);
  border: 1px solid #FFF;
  color: #FFF;
}

.btn_right {
  background-color: rgb(6, 95, 168);
  border-radius: 6px;
  width: 40px;
  height: 40px;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.25em;
  text-indent: 12px;
  color: #FFF;

}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

img {
  border-radius: 9px;
  width: 100px;
  margin: 12px;
}

.bio_image {
  align-items: center;
  display: flex;
  border-bottom: .5px solid rgb(195, 194, 194);
}

.circles .ltBlue {
  padding: 7px;
  background-color: rgb(16, 136, 235);
}

.circles li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(6, 95, 168);
  border-radius: 50%;
  color: #FFF;
  font-size: 1.2em;
  margin-top: 4px;
  width: 50px;
  height: 50px;
}

.text_underCircle {
  text-align: center;
  margin-bottom: 4px;
  font-size: 13px;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

section h2 {
  height: 25px;
  background-color: rgb(16, 136, 235);
}

.sail_Bio {
  padding: 12px;
}

table {
  padding: 5px;
  color: white;
  font-size: 1em;
}

.cert_bx_light {
  background-color: rgb(19, 192, 42);
}

.cert_bx_dark {
  background-color: rgb(6, 95, 168);
}

.clubAffilBlock {
  display: flex;
  flex-direction: column;
  text-indent: 15px;
  height: 130px;
}

.clubAffil {
  background-color: rgb(195, 194, 194);
  height: 44px;
}

.link_btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  margin-top: 20px;
  align-self: center;
  color: white;
  text-align: center;
  line-height: 45px;
  width: 336px;
  height: 49px;
  background-color: rgb(6, 95, 168);
}

footer {
  background-image: url(iconSailing.png);
  height: 53px;
  width: 398px;
  border-top: .5px solid rgb(195, 194, 194);
  border-bottom: 1px solid rgb(195, 194, 194);
}