/* font colors
dark blue rgb(5,5,134)
lightgreen rgb(19, 192, 42)
lightBlue rgb() */

/*basic reset*/
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

/* pt font classification here in body*/
body {
  font-family: 'Metrophobic', sans-serif;
  width: 400px;
}

header {
  display: flex;
  justify-content: space-around;
  height: 60px;
  background-color: rgb(5, 5, 134);
  color: #FFF;
  align-items: center;
}

.container {
  border-left: .5px solid black;
  border-right: .5px solid black;
}

.btn_left {
  clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  border-radius: 6px;
  width: 50px;
  height: 25px;
}

.btn_right {
  border-radius: 6px;
  width: 40px;
  height: 40px;
}

h1 {
  font-size: 2.2rem;
}

img {
  border-radius: 16px;
  width: 100px;
  padding: 8px;
}

.bio_image {
  border-bottom: .5px solid black;
  display: flex;
  justify-content: flex-start;
  color: green;
  align-items: center;
}

.sail_Bio {
  padding: 12px;
}

.circles li {
  font-size: 1.2em;
  border-radius: 50%;
  background-color: #BADA55;
  text-align: center;
  margin-top: 4px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle__text ul {
  list-style-type: none;
  text-align: center;
  color: rgb(8, 88, 8);
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

section {
  font-size: 12px;
  text-indent: 15px;
  height: 30px;
  background-color: rgb(60, 104, 247);
  color: #FFF;
}

table {
  margin: 3px;
  color: white;
  font-size: 1em;
}

.cert_bx_light {
  background-color: rgb(19, 192, 42);
}

.cert_bx_dark {
  background-color: rgb(5, 5, 134);
}

footer {
  display: inline-flex;
  flex-direction: column;
  height: 150px;
  border-bottom: .5px solid black;
}

.clubAffil {
  height: 60px;
  background-color: rgb(202, 202, 202);
  margin-bottom: 13px;
}

.link_btn {
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 13px;
  width: 325px;
  height: 40px;
  background-color: rgb(5, 5, 134);
}

/* footer {
  background-color: tomato;
  height: 40px;
  width: 400px;
  border-top: .5px solid black; */